.Box {
text-align: center;
transform: translateY(-15rem);
border-style: solid;
border-radius: 30px;
border-block: inherit;
color: rgba(200, 24, 24, 0.852);
}

.WhatsApp {
    background-image: url("../../assets/whatsapp.png");
    height: 66px;
    border-radius: 80%;
    width: 66px;
}

.Instagram {
    background-image: url("../../assets/instagram.png");
    height: 68px;
    border-radius: 80%;
    width: 68px;
}

.Email {
    background-image: url("../../assets/email.png");
    height: 68px;
    border-radius: 80%;
    width: 68px;
}

.p {
background-color: rgb(21, 20, 20);
border-style: solid;
font-size: 1.5rem;
font-weight: bold;
border-radius: 100px;
opacity: 90%;
}

.h1 {
background-color: rgb(21, 20, 20);
font-weight: bold;
font-size: 2.6rem;
border-radius: 100px;
opacity: 90%;
}

@media (max-width: 700px) {
    .Box {
      position: relative;
      transform: translateX(-20%);
      transform: translateY(-10%);
    }

  }