/* styles/project.css */

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .project-card {
    max-width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #f3e1cb; /* Cor de fundo no tema de deserto */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os elementos horizontalmente */
  }
  
  .project-card img {
    width: 400%;
    height: 400%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
   /* Centraliza a imagem horizontalmente */
  }
  
  .project-card h3 {
    margin-top: 16px;
    font-size: 20px;
  }
  
  .project-card p {
    margin-top: 8px;
    font-size: 16px;
    color: #141414; /* Cor de texto no tema de deserto */
  }
  
  /* @media query para ajustar o layout em dispositivos com largura menor que 700px */
  @media (max-width: 700px) {
    .projects-container {
      flex-direction: column;
      align-items: center;
    }
  
    .project-card {
      max-width: 80%;
    }
  }